@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

.header{

    position: absolute;
    left: calc(50% - 465px);
    top: 20px;
    z-index: 2;
}
a{
    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    /*padding-left: 13px;*/

}

.header input[type=button1]:hover{
    opacity: 0.8;
}

.header input[type=button1]:active{
    opacity: 0.6;
}

.header input[type=button1]:focus{
    outline: none;
}

.button1{
    text-align: center;
    float: left;
    width: 110px;
    height: 22px;
    background: #92939e;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 2px;
    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 6px;
    margin-top: 10px;
    margin-left: 4px;
    margin-right: 4px;
}

.button2{
    cursor: pointer;
    background: #92939e;
    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header3{
    text-align: center;
    position: absolute;
    left: calc(50% - 400px);
    top: 200px;
    z-index: 2;
}

h1{

    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    width: 800px;
}

p{

    color: #ffffff;
    font-family: 'Exo', sans-serif;
    font-size: 16px;
    width: 800px;
}
