.header{
    position: absolute;
    top: 20px;
    z-index: 2;
}

.header div{

    left: auto;
    color: #5379fa;
    font-family: 'Exo', sans-serif;
    font-size: 35px;
    font-weight: 200;
}

.header1 div a{
    color: #5379fa !important;
}